<!-- This is the NAVBAR for every page. -->
<div class="container">
    <div class="navbar-header"> <a href="index.html" class="navbar-brand">Welcome Friends!</a>
        <buttom type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </buttom>
    </div>
    <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
        <li class="item"><a href="about.html">About Me</a></li>
        <li class="item"><a href="projects.html">Projects</a></li>
        <li class="item"><a href="pdf/jan.pdf">Hours Free</a></li>
        <li class="item"><a href="girls.html">Favorite Girls</a></li>
    </ul>
</div>